*{
    margin: auto;
    list-style: none;
    font-family: sans-serif;
}



body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    background: url('../img/fondoN.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    align-items: center;
}

.caja{
    background-color: rgba(182, 114, 190, 0.39);
    text-align: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 40%;
    width: 40%;
    border: 2px;
    border-radius: 10px;

    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
}

.caja h1{
    height: auto;
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: center
    
}